# .gitignore

# --- Generated Reports & Plots ---
# These files are created by the script and should not be version-controlled.
Printer_Report.html
documentation/where_did_i_left.txt


# --- Code Explanations ---
code_explanations/


# --- Images ---
images/


# --- Python Cache ---
# Ignore Python's cache directory
__pycache__/


# --- PyInstaller Files ---
# Ignore the directories and files created during the .exe build process
/dist/
/build/
*.spec

