# .gitignore

# --- Generated Reports & Plots ---
# These files are created by the script and should not be version-controlled.
Printer_Report.html
documentation/where_did_i_left.txt
documentation/suggested_improvements.txt
documentation/objectives_and_pending_fixes.txt

# --- The EXCEL tracker ---
# This file is dynamically updated, it should not be version-controlled.
Printer_Fleet_Table.xlsx

# --- The logging file ---
execution_logs.log

# --- Code Explanations ---
code_explanations/*


# --- Images ---
images/*


# --- Python Cache ---
# Ignore Python's cache directory
__pycache__/*


# --- PyInstaller Files ---
# Ignore the directories and files created during the .exe build process
/dist/
/build/
*.spec

# --- App Distribution Folder ---
# Ignore the executable and README file contained on the folder used to distribute it
CrayonEaters_Ultimate-Printer-Checker.zip

